body {
  padding: 0;
  margin: 0;
  background-color: #373737;
  color: #ffffff;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  overflow-x: hidden;

} 

div {
  padding: 5px;
  margin: 5px;
}

h1 {
  font-size: 1.4em;
  margin-top: 15px;
  margin-bottom: 3px;
  font-weight: 100;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding: 0 5px;
  color: #FFEB3B;
}

h2 {
  padding-left: 10px;
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 1.5em;
  font-weight: 100;
  color: #FFEB3B;
}

h3 {
  font-size: 1em;
}

.container{margin-top: 18px;margin-left: 20px;max-width: 520px;}
.info-static {
  color: #898d90;
  font-weight: 100;
  font-size: 0.7em;
  padding-left: 0px;
  margin-bottom: 3px;
  margin-top: 5px;
}

.info-dynamic {
  color:#ffffff;
  font-weight: 100;
  font-size: 1em;
  margin: 0px;
  padding-left: 0px;
}

.tagline {
  color: #000000;
  background-color: #FFEB3B;
  max-width: 300px;
  padding: 3px 5px;
  font-size: 0.6em;
  font-weight:100;
  margin:0 0;
  line-height:1.3;
  box-shadow: 1px 1px 0px black;
  position: absolute;
}

.inline {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

.left {
  background-color:#262829;
  min-height: 100%;
  width: 100vw;
  margin:0;
  padding:0;
  /*float:left;*/
  box-shadow: 1px 0px 0.5px 0px black;
  position: absolute;
  z-index: 1;
}

.right {
  background-color: #FFEB3B;
  float:right;
  width: 30vw;
  /*min-width: 300px;*/
  min-height: 100vh;
  top: 0;
  bottom: 0;
  /*padding-left: 20px;*/
  padding-top: 0px;
  position: relative;
  right: 0;
  z-index: 0;
  box-shadow: -1px 0 500px 0px #000000;
}

/*.right:hover {*/
    /*z-index: 10 !important;*/
/*}*/


.right h2{
  color:black;
  font-size: 1.5em;
  font-weight: 300;
  padding-left: 8px;
}

.info-inline {
  display: inline-grid;
  margin-top:0px;
  padding-top: 0px;
}

.wrapper {
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 3px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 3px;
}

label {
  margin-top: 0;
  margin-bottom: 1em;
}

#clear{
  float:right;
}

textarea{
  max-width: 100%;
  max-height:150px;
}

#message {
  /* min-width: 83%; */
  max-width: 86%;
}

#send {
  float:right;
}

.col-4 {
  width: 210px;
}

.col-6 {

}

.brief {
    display: none;
}

div.tagline:hover .brief {
    display: block;
}

div.tagline:focus .brief {
    display: block;
}

.snippet {
  width: 100%;
  font-size:0.8em;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  clear: both;
  position: relative;
}


code.prettyprint, pre.prettyprint{
  border-radius: 0px !important;
  background-color: #FFEB3B !important;
  padding-left: 5px;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0 !important;
  border: none;
}

button{
  margin:0px;
/*   display:inline-block !important; */
}


.itp {
  background-color:#FFEB3B;
  color:#000000;
  padding: 3px 5px;
  font-size: 0.4em;
  font-weight:100;
  margin:0 0;
  line-height:1.3;
  box-shadow: 1px 1px 0px #2b291a;
  text-transform:capitalize;
  display:none;
}


*{
      box-sizing: border-box;

}

  /* width */::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #FFEB3B; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #262829; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #262829; 
}