body {
  padding: 0;
  margin: 0;
  background-color: #262829;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  overflow-x: hidden;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: -0.02em;
  margin: 2rem 1rem 1rem;
  color: #ffeb3b;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 0px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffeb3b;
}

h3 {
  font-size: 1rem;
}

a {
  color: #ffeb3b;
}

.container {
  /* max-width: 36rem; */
  padding: 2rem;
}

.info-static {
  color: #bdc3c7;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0.75rem;
  margin-top: 1rem;
  /* text-transform: uppercase; */
}

.info-dynamic {
  color: #ffffff;
  font-size: 1rem;
  margin: 0;
  padding-left: 0px;
}

.tagline {
  color: #262829;
  background-color: #ffeb3b;
  max-width: 28rem;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  border-radius: 0 0.25rem 0.25rem 0;
  margin: 0;
  line-height: 1.25;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  position: absolute;
}

.inline {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

.left {
  background-color: #262829;
  min-height: 100%;
  width: 60vw;
  margin: 0;
  padding: 0;
  float: left;
  position: absolute;
  z-index: 1;
  overflow-y: auto;
  max-height: 100vh;
}

.right {
  min-width: 18rem;
  background-color: #3c3c3c;
  float: right;
  width: 40vw;
  min-height: 100vh;
  top: 0;
  bottom: 0;
  padding: 0 2rem;
  position: relative;
  right: 0;
  z-index: 1;
  box-shadow: -0.1px 0 2rem 0px rgba(0, 0, 0, 0.25);
}

.info-inline {
  display: inherit;
  margin-top: 0;
  padding-top: 0px;
}

.port-options {
  margin: 0;
  line-height: 1.2em;
}

.wrapper {
  margin: 0;
  padding: 0;
}

label {
  margin-top: 0;
  margin-bottom: 1rem;
}

.clear {
  float: right;
}

textarea {
  max-width: 100%;
  max-height: 150px;
}

.message {
  /* min-width: 83%; */
  max-width: 86%;
}

.send {
  float: right;
}

.close {
  float: right;
  margin-top: calc(1.5em + 15px - 7.5px);
}


.col-4 {
  width: 210px;
}

.col-6 {
}

.brief {
  display: none;
}

div.tagline:hover .brief {
  display: block;
}

div.tagline:focus .brief {
  display: block;
}

.brief p:last-child {
  margin-bottom: 0;
}

.snippet {
  width: 100%;
  font-size: 0.875rem;
  margin-top: 0px;
  clear: both;
  position: relative;
}

code.prettyprint,
pre.prettyprint {
  border-radius: 0px !important;
  background-color: #ffeb3b !important;
  padding-left: 5px;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0 !important;
  border: none;
}

button {
  margin: 0;
}

.itp {
  background-color: #ffeb3b;
  color: #000000;
  padding: 3px 5px;
  font-size: 0.4em;
  font-weight: 100;
  margin: 0 0;
  line-height: 1.3;
  box-shadow: 1px 1px 0px #2b291a;
  text-transform: capitalize;
  display: none;
}

.serial-console,
.serial-monitor,
.serial-sender {
  padding: 0;
  margin: 5px 0;
}

#connected-ports,
.port-control-panel {
  padding: 0;
  margin: 0;
}

.panel-name {
  display: inline-block;
  margin-right: 10px;
}

.one-line {
  display: inline-block;
  margin-right: 0.5em;
}

#start-code {
  overflow-x: auto;
  font-family: Menlo, 'Courier New', monospace;
  background: rgba(255, 255, 255, 0.8);
  color: #3c3c3c;
  margin-top: 1rem;
  display: none;
  padding: 0.75rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffeb3b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #262829;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #262829;
}
