body {
  padding: 0;
  margin: 0;
  background-color: #262829;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  overflow-x: hidden;
}

div {
  padding: 5px;
  margin: 5px;
}

h1 {
  font-size: 1.4em;
  margin-top: 15px;
  margin-bottom: 3px;
  font-weight: 100;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding: 0 5px;
  color: #ffeb3b;
}

h2 {
  padding-left: 10px;
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 1.5em;
  font-weight: 100;
  color: #ffeb3b;
}

h3 {
  font-size: 1em;
}

a {
  color: #ffeb3b;
}

.container {
  max-width: 520px;
  margin: auto;
  margin-top: 24px;
}

.info-static {
  color: #bdc3c7;
  font-weight: 100;
  font-size: 1em;
  padding-left: 0px;
  margin-bottom: 6px;
  margin-top: 5px;
}

.info-dynamic {
  color: #ffffff;
  font-weight: 100;
  font-size: 1em;
  margin: 0px;
  padding-left: 0px;
}

.tagline {
  color: #000000;
  background-color: #ffeb3b;
  max-width: 400px;
  padding: 3px 5px;
  font-size: 0.8em;
  font-weight: 100;
  margin: 0 0;
  line-height: 1.3;
  box-shadow: 1px 1px 0px black;
  position: absolute;
}

.inline {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

.left {
  background-color: #262829;
  min-height: 100%;
  width: 65vw;
  margin: 0;
  padding: 0;
  float: left;
  /*box-shadow: 1px 0px 0.5px 0px black;*/
  position: absolute;
  z-index: 1;
}

.right {
  min-width: 300px;
  background-color: #3c3c3c;
  float: right;
  width: 35vw;
  /* min-width: 300px; */
  min-height: 100vh;
  top: 0;
  bottom: 0;
  /* padding-left: 20px; */
  padding-top: 0px;
  position: relative;
  right: 0;
  z-index: 1;
  box-shadow: -0.1px 0 50px 0px #000000;
}

/*.right:hover {*/
/*z-index: 10 !important;*/
/*}*/

/*.right h2{*/
/*color:white;*/
/*font-size: 1.5em;*/
/*font-weight: 300;*/
/*padding-left: 8px;*/
/*}*/

.info-inline {
  display: inherit;
  margin-top: 0px;
  padding-top: 0px;
}

.port-options {
  margin: 0;
  line-height: 1.2em;
}

.wrapper {
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 3px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 3px;
}

label {
  margin-top: 0;
  margin-bottom: 1em;
}

.clear {
  float: right;
}

textarea {
  max-width: 100%;
  max-height: 150px;
}

.message {
  /* min-width: 83%; */
  max-width: 86%;
}

.send {
  float: right;
}

.close {
  float: right;
  margin-top: calc(1.5em + 15px - 7.5px);
}

.col-4 {
  width: 210px;
}

.col-6 {
}

.brief {
  display: none;
}

div.tagline:hover .brief {
  display: block;
}

div.tagline:focus .brief {
  display: block;
}

.snippet {
  width: 100%;
  font-size: 0.8em;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  clear: both;
  position: relative;
}

code.prettyprint,
pre.prettyprint {
  border-radius: 0px !important;
  background-color: #ffeb3b !important;
  padding-left: 5px;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0 !important;
  border: none;
}

button {
  margin: 0px;
  /*   display:inline-block !important; */
}

.itp {
  background-color: #ffeb3b;
  color: #000000;
  padding: 3px 5px;
  font-size: 0.4em;
  font-weight: 100;
  margin: 0 0;
  line-height: 1.3;
  box-shadow: 1px 1px 0px #2b291a;
  text-transform: capitalize;
  display: none;
}

.serial-console,
.serial-monitor,
.serial-sender {
  padding: 0;
  margin: 5px 0;
}

#connected-ports,
.port-control-panel {
  padding: 0;
  margin: 0;
}

.panel-name {
  display: inline-block;
  margin-right: 10px;
}

.one-line {
  display: inline-block;
  margin-right: 0.5em;
}

#start-code {
  overflow-x: scroll;
  font-family: 'Courier New', monospace;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  margin-top: 1em;
  display: none;
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffeb3b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #262829;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #262829;
}
